---
import EpisodeIdentifier from "../../../../../lib/common/episodes/EpisodeIdentifier.astro";
import type { Episode } from "../../../../../lib/common/episodes/types";
import ChevronLeftIcon from "../../../../../lib/common/icons/ChevronLeftIcon.astro";
import Link from "../../../../../lib/common/Link.astro";
import { Image } from "astro:assets";

interface Props {
  episode: Episode;
  originEpisode: Episode;
}

const { episode, originEpisode } = Astro.props;
---

<Link href={`episodes/season/${episode.season}/${episode.id}`}>
  <div
    style={{ background: originEpisode.fromColor }}
    class="bg-gray-100 rounded-full overflow-hidden shadow-sm"
  >
    <div class="flex items-center gap-2">
      <div class="grow md:grow-0 pl-4">
        <ChevronLeftIcon className="size-6" stroke="var(--accent)" />
        <div
          class="pl-2 text-[var(--accent)] md:grow hidden md:block flex justify-center"
        >
          <p class="font-bold">{episode.name}</p>
          <EpisodeIdentifier episode={episode} />
        </div>
      </div>
      <div>
        <Image
          width={110}
          src={episode.cover}
          alt={`Cover for episode ${episode.name}`}
        />
      </div>
    </div>
  </div>
</Link>
