---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Episode from "../_components/Episode.astro";
import { getCollection } from "astro:content";
const episodes = await getCollection("episodes");
---

<BaseLayout
  title="Episoder"
  bgFrom="oklch(98.6% 0.031 120.757)"
  bgTo="oklch(96.9% 0.015 12.422)"
  accent="oklch(59.6% 0.145 163.225)"
>
  <div class="max-w-3xl mx-auto">
    <h1 class="text-4xl font-extrabold mb-6">Episoder</h1>
    <div class="flex flex-col gap-8 mb-8">
      {
        episodes.map(({ id, data }) => (
          <Episode
            name={data.name}
            published={data.published}
            length={data.length}
            image={data.cover}
            description={data.description}
            id={id}
          />
        ))
      }
    </div>
  </div>
</BaseLayout>
