---
import Layout from "../../layouts/Layout.astro";
import Episode from "../_components/Episode.astro";
import { getCollection } from "astro:content";
const episodes = (await getCollection("episodes")).slice(0, 2);
---

<Layout title="Episoder">
  <div>
    <h1 class="text-4xl font-extrabold mb-6">Episoder</h1>
    <div class="flex flex-col gap-8">
      {
        episodes.map(({ id, data }) => (
          <Episode
            name={data.name}
            published={data.published}
            length={data.length}
            image={data.cover}
            description={data.description}
          />
        ))
      }
    </div>
  </div>
</Layout>
