---
import BaseLayout from "../layouts/BaseLayout.astro";
import Episode from "../lib/common/Episode.astro";
import { Image } from "astro:assets";
import brobert from "../assets/brobert.png";
import { getCollection } from "astro:content";
import { isAfter } from "date-fns";
import { GetEpisodeDataBySlug } from "../lib/getEpisodeDataBySlug";
import Link from "../lib/common/Link.astro";
import Card from "../lib/common/Card.astro";
const episodes = await getCollection("episodes");

const sortedEpisodes = episodes
  .map((e) => GetEpisodeDataBySlug(episodes, e.id))
  .sort((a, b) => (a.data.published < b.data.published ? 1 : -1));

const seasons = Array.from(new Set(sortedEpisodes.map((ep) => ep.meta.season)));
const lastSeason = Math.max(...seasons);

const now = new Date();
const publishedEpisodes = sortedEpisodes.filter(
  (e) => !isAfter(new Date(e.data.published), now),
);
const upcomingEpisodes = sortedEpisodes
  .filter((e) => isAfter(new Date(e.data.published), now))
  .sort(
    (a, b) =>
      new Date(a.data.published).getTime() -
      new Date(b.data.published).getTime(),
  );
const previewEpisodes = [...publishedEpisodes, ...upcomingEpisodes].slice(0, 3);
const firstTwoEpisodes = previewEpisodes.slice(0, 2);
const thirdEpisode = previewEpisodes[2];
---

<BaseLayout title="Hjem" noMaxWidth>
  <div class="px-2 md:px-4 flex flex-col gap-8 md:gap-12 pb-8">
    <section
      class="max-w-6xl mx-auto relative overflow-hidden bg-gradient-to-br from-emerald-100 via-emerald-50/70 to-teal-100/70 rounded-4xl shadow-xl shadow-emerald-800/5"
    >
      <div class="px-8 md:px-12 py-16 md:py-24 flex flex-col gap-6 md:gap-12">
        <div class="w-9/12 xs:w-10/12 sm:w-3/4 md:w-7/12">
          <h1 class="text-4xl md:text-5xl leading-tight font-extrabold mb-6">
            <span
              class="text-rose-600 supports-[-webkit-background-clip:text]:bg-clip-text supports-[-webkit-background-clip:text]:text-transparent supports-[-webkit-background-clip:text]:bg-gradient-to-r supports-[-webkit-background-clip:text]:from-rose-600 supports-[-webkit-background-clip:text]:to-pink-600"
            >
              Matbutikkens
            </span>
            <span
              class="text-emerald-600 supports-[-webkit-background-clip:text]:bg-clip-text supports-[-webkit-background-clip:text]:text-transparent supports-[-webkit-background-clip:text]:bg-gradient-to-r supports-[-webkit-background-clip:text]:from-emerald-600 supports-[-webkit-background-clip:text]:via-teal-600 supports-[-webkit-background-clip:text]:to-cyan-600"
            >
              Hemmeligheter</span
            >
          </h1>
          <p class="text-lg font-semibold text-emerald-950/80">
            Matbutikkens Hemmeligheter er en spennende og lærerik podkast for
            barn fra 2-5 år, med fokus på matglede, vennskap og samarbeid. Med
            masse humor, fantasi, fengende musikk og lydefekter.
          </p>
          <div class="flex flex-col gap-4 items-start pt-6">
            <button
              class="z-10 bg-emerald-700 font-semibold text-white px-4 py-2 rounded-full ring-3 ring-emerald-700 hover:cursor-pointer hover:bg-emerald-800 transition active:translate-y-[1px] hover:shadow-lg hover:scale-[1.02]"
              >Hør nå ▶︎</button
            >
            <Link
              href={`episodes/season/${lastSeason}`}
              class="z-10 bg-white font-semibold text-emerald-800 px-4 py-2 rounded-full ring-3 ring-emerald-300"
            >
              Siste episoder ➜
            </Link>
          </div>
        </div>
        <div
          class="pointer-events-none select-none absolute lg:right-[-4%] md:right-[-7%] sm:right-[-14%] right-[-34%] bottom-[-20%] sm:bottom-[-24%] md:bottom-[-16%] rotate-6 md:rotate-3 origin-center"
        >
          <Image
            class="rounded-lg hidden md:block"
            src={brobert}
            width={650}
            alt="Illustrasjon for podkasten Matbutikkens Hemmeligheter"
          />
          <Image
            class="rounded-lg md:hidden block"
            src={brobert}
            width={550}
            alt="Illustrasjon for podkasten Matbutikkens Hemmeligheter"
          />
        </div>

        <div
          class="pointer-events-none absolute inset-0 bg-[radial-gradient(circle_at_70%_30%,rgba(16,185,129,0.15),transparent_60%)]"
        >
        </div>
      </div>
    </section>

    <section class="max-w-3xl mx-auto">
      <h2 class="text-emerald-600 text-xl font-bold mb-4">Siste episoder</h2>

      <div class="mb-8">
        <div class="grid gap-8 auto-rows-max content-start">
          {
            firstTwoEpisodes.map(({ meta, data }, i) => (
              <Episode
                isCurrent={i === 0}
                season={meta.season}
                name={data.name}
                published={data.published}
                length={data.length}
                image={data.cover}
                description={data.description}
                id={meta.episode}
                background={data.fromColor}
                accent={data.accentColor}
              />
            ))
          }
        </div>
        {
          thirdEpisode && (
            <div class="relative mt-8">
              <div
                class="overflow-hidden max-h-[250px] sm:max-h-[60px] [mask-image:linear-gradient(to_bottom,black_0%,transparent_100%)]
  [-webkit-mask-image:linear-gradient(to_bottom,black_0%,transparent_100%)]"
              >
                <Episode
                  isCurrent={false}
                  season={thirdEpisode.meta.season}
                  name={thirdEpisode.data.name}
                  published={thirdEpisode.data.published}
                  length={thirdEpisode.data.length}
                  image={thirdEpisode.data.cover}
                  description={thirdEpisode.data.description}
                  id={thirdEpisode.meta.episode}
                  background={thirdEpisode.data.fromColor}
                  accent={thirdEpisode.data.accentColor}
                />
              </div>
            </div>
          )
        }
      </div>
      <div class="flex justify-center">
        <Link
          href={`episodes/season/${lastSeason}`}
          class="bg-rose-500 font-semibold text-white px-5 py-2 rounded-full shadow hover:bg-rose-600 transition"
        >
          Alle episoder
        </Link>
      </div>
    </section>
  </div>

  <div class="w-full leading-none -mb-px">
    <svg
      class="block w-full h-16 md:h-20"
      viewBox="0 0 1440 160"
      xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="none"
    >
      <path
        d="M0 50 C 240 110 480 0 720 60 C 960 120 1200 40 1440 70 L1440 160 L0 160 Z"
        fill="#047857"></path>
    </svg>
  </div>

  <div class="bg-emerald-700 text-white py-8 md:px-8">
    <section class="mx-auto max-w-5xl px-4 mb-8">
      <div class="grid md:grid-cols-5">
        <div class="md:col-span-2 -mt-10 flex flex-col items-center">
          <Image
            class="rounded-lg"
            src={brobert}
            widths={[200, 300]}
            sizes="(max-width: 768px) 200px, 300px"
            alt="Illustrasjon for podkasten Matbutikkens Hemmeligheter"
          />
          <p class="hidden md:block text-sm text-emerald-100">
            Vi lager historier med hjerte, latter og litt grønt på toppen.
          </p>
        </div>
        <div class="md:col-span-3">
          <Card background="bg-linear-to-t from-emerald-900 to-emerald-900/85">
            <h2 class="text-xl md:text-2xl font-bold mb-4 text-rose-200">
              Bli kjent med oss!
            </h2>
            <p class="text-base/8">
              Matbutikkens Hemmeligheter er en spennende podkast for barn <span
                class="font-bold text-rose-200">3–7 år</span
              >. Her møter du Brokkolien Brobert, Purren Purnille og vennene
              deres i morsomme historier fylt med <span
                class="font-bold text-rose-200"
              >
                musikk, fantasi og latter.</span
              > Hver episode handler om <span class="font-bold text-rose-200">
                vennskap, samarbeid og matglede
              </span> – fortalt på en måte som får både barn og foreldre til å smile.
            </p>
            <div
              class="flex gap-2 flex-wrap mt-7 text-emerald-900 text-sm font-bold"
            >
              <div class="bg-emerald-200 rounded-full px-3 py-1">
                For barn 3-7 år
              </div>
              <div class="bg-emerald-200 rounded-full px-3 py-1">
                Gratis og uten annonser
              </div>
            </div>
            <Link
              href="about"
              class="inline-block bg-rose-500 font-bold text-white px-5 py-2 rounded-full shadow hover:bg-rose-600 transition mt-5"
            >
              Les mer om oss
            </Link>
          </Card>
        </div>
      </div>
    </section>
  </div>
</BaseLayout>
