---
import BaseLayout from "../../../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import { GetEpisodeDataBySlug } from "../../../../lib/getEpisodeDataBySlug";
import { format, isAfter } from "date-fns";
import Link from "../../../../lib/common/Link.astro";

export async function getStaticPaths() {
  const episodes = await getCollection("episodes");

  const sortedEpisodes = episodes.map((e) =>
    GetEpisodeDataBySlug(episodes, e.id),
  );

  return sortedEpisodes.map((e) => ({
    params: { season: e.meta.season, episode: e.meta.episode },
    props: { episode: e },
  }));
}

const { season } = Astro.params;
if (!season) throw new Error("Missing season param");

const { episode } = Astro.props;
if (!episode) throw new Error("Missing episode prop");

const { data } = episode;
if (!data) throw new Error("Missing episode data");

const episodeNr = episode.meta.episode.split("-")[1];

const isUpcoming = isAfter(data.published, new Date());

const formattedPublishDate = format(data.published, "dd.MM.yyyy");
---

<BaseLayout
  bgFrom={data.fromColor}
  bgTo={data.toColor}
  accent={data.accentColor}
  title={data.name}
>
  <div class="max-w-3xl mx-auto px-2">
    <section class="mb-6">
      <Link
        class="block text-[var(--accent)] hover:underline font-bold mb-2"
        href={`episodes/season/${season}`}>Tilbake til sesong {season}</Link
      >
      <div class="flex flex-col items-center gap-8 mb-2">
        <Image
          class="w-full md:w-4/6 rounded-2xl"
          width={300}
          src={data.cover}
          alt={`Cover for episode ${data.name}`}
        />
      </div>
      <h1 class="text-3xl font-bold text-[var(--accent)] mb-4">
        {data.name}
      </h1>
      <div>
        <div style={{ color: data.accentColor }} class="font-semibold mb-4">
          <span class="bg-black/10 rounded-full px-2 mr-2"
            >S{season} • E{episodeNr}</span
          >

          Varighet: <span class="font-normal">{data.length}</span>
          {
            !isUpcoming && (
              <>
                • Utgitt:{" "}
                <span class="font-normal">{formattedPublishDate}</span>
              </>
            )
          }
        </div>
      </div>
      <p>
        {data.description}
      </p>
    </section>
    <section>
      <h2 class="text-lg font-bold text-[var(--accent)]">Flere episoder</h2>
    </section>
  </div>
</BaseLayout>
